/****** SCSS Variables ******/

$nav-height: 60px;
$rs: 50; // redStart for gradients
$gs: 50; // greenStart for gradients
$bs: 50; // blueStart for gradients
$os: 0.6; // opacityStart for gradients
$re: 0; // redEnd
$ge: 0; // greenEnd
$be: 0; // blueEnd
$oe: 0.9; // opacityEnd

/****** Main Styling ******/

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    // background: url('https://static.pexels.com/photos/51373/utah-mountain-sky-nature-51373.jpeg') no-repeat center center fixed; 
    // background-size: cover;
    background: #212121; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.5) 100%), url('https://static.pexels.com/photos/51373/utah-mountain-sky-nature-51373.jpeg') cover;
    color: #f2f2f2;
}

// body:before {
//     content: " ";
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     z-index: -1;
//     top: 0;
//     left: 0;
//     background: #212121; /* For browsers that do not support gradients */
//     background: -webkit-linear-gradient(rgba($rs, $gs, $bs, $os) 0%, rgba($re, $ge, $be, $oe) 100%); /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient(rgba($rs, $gs, $bs, $os) 0%, rgba($re, $ge, $be, $oe) 100%); /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient(rgba($rs, $gs, $bs, $os) 0%, rgba($re, $ge, $be, $oe) 100%); /* For Firefox 3.6 to 15 */
//     background: linear-gradient(rgba($rs, $gs, $bs, $os) 0%, rgba($re, $ge, $be, $oe) 100%); /* Standard syntax */
// }

// #content {
//     display: flex;
// }

// header {
//     color: #00BCD4;
//     text-align: center;
// }

// p {
//     margin: 8px 0 0 0;
// }

// #top {
//     display: flex;
//     justify-content: "center";
//     align-items: "center";
// }

// .container {

//     margin-top: $nav-height;
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
// }

// .polls-container {
//     margin-top: 50px;
// }

canvas {
    width: auto !important;
    height: auto !important;
    border-radius: 3px;
    margin: 16px auto 0px auto;
    text-align: center;
}

/****** Header Styling ******/

// header p {
//     margin: 20px 0 5px 0;
// }

// .menu {
//     text-decoration: none;
//     padding: 6px;
//     margin: 0;
//     color: #727272;
// }

// .menu:visited {
//     color: #727272;
// }

// .menu:hover {
//     color: #FFA000;
// }

// .menu:active {
//     color: #FF630D;
// }

// header a ~ p {
//     margin: 0;
//     padding: 0;
//     display: inline;
//     color: #ECEFF1;
// }

// #display-name {
//     font-weight: 400;
// }

// /****** Login Styling ******/

// .login {
//     margin: 86px auto 0 auto;
//     text-align: center;
// }

// #login-btn {
//     width: 225px;
//     padding: 7px 5px;
//     margin-top: 60px;
//     margin-bottom: 60px;
// }

// .btn p {
//     margin: 8px 0 0 0;
//     padding: 0;
// }

// .btn > img {
//     float: left;
//     margin-left: 10px
// }

// /****** Logo Div Styling ******/
// /*
// img {
//     margin: 0 auto;
//     display: block;
// }
// */

// .pollstarter-nav-text {
//     position: relative;
//     display: inline-block;
//     top: -8px;
// }

// .logo-50 {
//     position: relative;
//     top: 6px;
//     left: -8px;
//     display: inline-block;
//     width: 50px !important;
//     height: auto;
// }

// .logo-div {
//     position: fixed;
//     left: 20px;
//     top: 4px;
//     display: inline-block;
// }

// /****** Click Styling ******/

// .btn-container {    
//     margin: -10px auto 0 auto;
//     text-align: center;
// }

// .btn {  /* Styling for buttons */
//     margin: 10px 8px 10px;
//     color: white;
//     background-color: #00BCD4;
//     display: inline-block;
//     border: 0;
//     font-size: 14px;
//     border-radius: 3px;
//     padding: 10px 5px;
//     width: 100px;
//     font-weight: 500;
// }

// .btn:focus {
//     outline: none;
// }

// .btn:active {
//     transform: scale(0.9, 0.9);
//     -webkit-transform: scale(0.9, 0.9);
//     -moz-transform: scale(0.9, 0.9);
// }

// .btn-delete {
//     background-color: #ECEFF1;
//     color: #212121;
// }

// #click-nbr {
//     font-weight: 400;
// }

// /****** Nav Styling ******/
// #nav-container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     height: $nav-height;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     background: #f1f1f1;
//     padding-bottom: 10px;
//     z-index: 999;
// }

// #nav {

// }


// /****** Profile Styling ******/

// .github-profile {
//     width: 350px;
//     height: 200px;
//     border-radius: 3px;
//     margin: 86px auto 0 auto;
//     background-color: #EEE;
//     text-align: center;
//     color: #EEE;
// }

// .github-profile p:first-child {
//     padding-top: 16px;
// }

// .github-profile p:nth-child(5) {
//     margin-bottom: 16px
// }

// .github-profile p {
//     margin: 0 0 0 16px;
//     text-align: left;
// }

// .profile-value {
//     font-weight: 400;
// }

// span {
//     font-weight: 500;
// }

// .github-profile > img {
//     padding-top: 16px;
//     margin-bottom: 16px;
// }

// .github-profile .menu:hover {
//     color: #FFA000;
// }

// .github-profile .menu:active {
//     color: #FF630D;
// }

// #menu-divide {
//     color: #FFFFFF;
//     display: inline;
//     margin: 0;
// }

// /****** Text Styling ******/
// .orange-text {
//     color: #FFA000;
// }

// .blue-text {
//     color: #2DACE3;
// }

// .green-text {
//     color: #50A82F;
// }

// .purple-text {
//     color: #E22879;
// }

// .red-text {
//     color: #DC2327;
// }

// .pollstarter-text {
//     padding: 0;
//     margin: -25px 0 0 0px;
//     font-weight: 500;
//     font-size: 60px;
//     color: #00BCD4;
// }

// .SinglePoll-question {
//     text-align: center;
// }

// /****** Image Styling ******/
// .img-200 {
//     width: 200px;
//     height: 200px;
// }

// /****** Form Styling ******/
// input {
//     margin-bottom: 20px;
// }
