/****** Main Styling ******/


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    background: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: contain;
}

#top, #bottom, #left, #right {
	background: #929292;
	position: fixed;
	}
	#left, #right {
    z-index: 105;
		top: 0; bottom: 0;
		width: 6px;

		}
		#left {
      left: 0;
      border-left: 3px groove #929292;
    }
		#right {
      right: 0;
      border-right: 3px groove #929292;
    }

	#top, #bottom {
		left: 0; right: 0;
		}
		#top {
      z-index: 106;
      top: 0;
      height: 6px;
      border-top: 3px groove #929292;
      border-left: 3px groove #929292;
      border-right: 3px groove #929292;
    }
		#bottom {
      z-index: 104;
      bottom: 0;
      height: 0px;
      border-bottom: 16px groove #929292;
      border-left: 3px groove #929292;
      border-right: 3px groove #929292;
    }

header {
    color: #00BCD4;
    height: 56px;
    margin: 0 0 14px 0;
    text-align: center;
}

p {
    margin: 8px 0 0 0;
}

.container p {
    /* text-align: center; */
    padding: 0;
}

.polls-container {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-bottom: 20px;

}

canvas {
  /* width: auto !important;
  height: auto !important;
  border-radius: 3px; */
  /* margin: 16px auto 0px auto;
  text-align: center; */
}

/****** Header Styling ******/

header p {
    margin: 20px 0 5px 0;
}

.menu {
    text-decoration: none;
    padding: 6px;
    margin: 0;
    color: #727272;
}

.menu:visited {
    color: #727272;
}

.menu:hover {
    color: #FFA000;
}

.menu:active {
    color: #FF630D;
}

header a ~ p {
    margin: 0;
    padding: 0;
    display: inline;
    color: #ECEFF1;
}

#display-name {
    font-weight: 400;
}

/****** Login Styling ******/

.login {
    margin: 86px auto 0 auto;
    text-align: center;
}

#login-btn {
    width: 225px;
    padding: 7px 5px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.btn p {
    margin: 8px 0 0 0;
    padding: 0;
}

.btn > img {
    float: left;
    margin-left: 10px
}

/****** Logo Div Styling ******/
/*
img {
    margin: 0 auto;
    display: block;
}
*/

.pollstarter-nav-text {
  margin-left: 75px;
}

.logo-50 {
  width: 50px !important;
  height: auto;
  position: absolute;
  left: 10px;
  top: 10px;
}

.logo-div {
  position: absolute;
  left: 20px;
  top: 4px;
}

@media (max-width: 931px) {
  .logo-div {
    display: none;
  }
}

/****** Click Styling ******/

.btn-container {    /* Styling for the div that contains the buttons */
    margin: -10px auto 0 auto;
    text-align: center;
}

.btn {  /* Styling for buttons */
    margin: 10px 8px 10px;
    color: white;
    background-color: #00BCD4;
    display: inline-block;
    border: 0;
    font-size: 14px;
    border-radius: 3px;
    padding: 10px 5px;
    width: 100px;
    font-weight: 500;
}

.btn:focus {    /* Remove outline when hovering over button */
    outline: none;
}

.btn:active {   /* Scale the button down by 10% when clicking on button */
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
}

.btn-delete {   /* Styling for delete button */
    background-color: #ECEFF1;
    color: #212121;
}

#click-nbr {
    font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
    width: 350px;
    height: 200px;
    border-radius: 3px;
    margin: 86px auto 0 auto;
    background-color: #EEE;
    text-align: center;
    color: #000;
}

.github-profile p:first-child {
    padding-top: 16px;
}

.github-profile p:nth-child(5) {
    margin-bottom: 16px
}

.github-profile p {
    margin: 0 0 0 16px;
    text-align: left;
}

.profile-value {
    font-weight: 400;
}

span {
    font-weight: 500;
}

.github-profile > img {
    padding-top: 16px;
    margin-bottom: 16px;
}

.github-profile .menu:hover {
    color: #FFA000;
}

.github-profile .menu:active {
    color: #FF630D;
}

#menu-divide {
    color: #FFFFFF;
    display: inline;
    margin: 0;
}

/****** Text Styling ******/
.orange-text {
  color: #FFA000;
}

.blue-text {
  color: #2DACE3;
}

.green-text {
  color: #50A82F;
}

.purple-text {
  color: #E22879;
}

.red-text {
  color: #DC2327;
}

.pollstarter-text { /* Styling for the Clementine.js text */
    padding: 0;
    margin: -25px 0 0 0px;
    font-weight: 500;
    font-size: 60px;
    color: #00BCD4;
}

.SinglePoll-question {
    text-align: center;
}

/****** Image Styling ******/
.img-200 {
  width: 200px;
  height: auto;
}

/****** Form Styling ******/
input {
  margin-bottom: 20px;
}
